*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

h1 {
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

main {
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    align-items: flex-start;
}

aside {
    width: 300px;
    background-color: rgba(26, 154, 182, 0.3);
    padding: 20px;
    border-right: 1px solid #ccc;
}

article {
    flex: 1;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
    padding-bottom: 10px; 
    border-bottom: 3px solid #3498db;
}

/*
section p {
    display: block;
    flex-direction: column;
   }
*/
div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    flex: 1;
    align-items: center;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    flex: 2;
    
    padding: 10px;
    box-sizing: border-box;
    border: transparent;
    background-color: transparent;
    margin-bottom: 10px;
    outline: none;
    font-size: 1em;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.unionEuropea {
    position: absolute;
    right: 10px;
}

.imagen {
    border: 3px solid #3498db;
    float: right;
    width: 150px;
    height: 160px;
    margin-bottom: 10px;
}

/*CSS PARA LAS MIGAS DE PAN*/
/*CSS PARA BREADCRUMB*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    text-align: center;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
} 

p {
    margin-bottom: 10px;
    line-height: 1.6;
    text-indent: 20px; 
}

.experiencia p,
.formacion p,
.idiomas p {
    margin-bottom: 16px;
    text-indent: 10; 
}


.boton-imprimir{
    padding: 10px; 
        background-color: #4CAF50; 
        color: white; 
        border: none; 
        border-radius: 4px;
        cursor: pointer; 
}
/* .sinBorde{
    border: none;
} */